body {
  font: 13px "Helvetica Neue", Arial, sans-serif;
  color: #111;
  padding: 60px 80px;
}
h1, h2 {
  color: #c00;
}
a {
  color: #c00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
label {
  padding: 6px 0;
  display: block;
  text-transform: lowercase;
}
textarea,
input {
  outline: none;
  padding: 5px;
  background: #f1f1f1;
  border: 1px solid #aaa;
}
textarea:focus,
input:focus {
  background: #fff;
}
textarea {
  width: 500px;
  height: 200px;
}
a.edit {
  margin-left: 10px;
  font-size: 11px;
  font-weight: normal;
}
.date {
  font-size: 11px;
}
p.error,
p.message {
  padding: 10px;
  border: 1px solid;
}
p.error {
  background: #FDEAE7;
  color: #E4250C;
}
p.message {
  color: #2EBBE6;
  background: #F7FBFD;
}
.fullExcerptModal {
  position: absolute;
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 4px 2px 5px rgba(60, 60, 60, 0.6);
  -moz-box-shadow: 4px 2px 5px rgba(60, 60, 60, 0.6);
  box-shadow: 4px 2px 5px rgba(60, 60, 60, 0.6);
  overflow: scroll;
  background: white;
}
.excerptTitleCont {
  clear: both;
  float: none;
  height: 25px;
  border-bottom: 1px solid #ccc;
}
.excerptTitle {
  float: left;
  width: 350px;
  font-size: 15px;
}
a.excerptClose {
  float: right;
  display: inline-block;
  font-size: 10px;
}
.excerpt {
  padding-top: 10px;
  font-size: 12px;

}
